body {
    width: 300px;
    margin: 0 auto;
}

#app {
    width: 320px;
    margin: 0 auto;
    position: relative;

}

.cards-board {
    position: relative;
    width: 340px;
    gap: 10px;
    left: 0;
    top: 0;
    transition: top 1s ease-in-out;
    height: 482px;
}

.cards-board__panel {
    position: absolute;
    width: 320px;
    gap: 10px;
    left: 0;
    top: 0;
    transition: top 1s ease-in-out;
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
}

.cards-board__panel.transition-none{
  transition: none;
}

.cards_board__line{
    display: flex;
    gap: 20px;
}

.cards-board__item {
    border: 1px solid #000;
    width: 100px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 4px;
}

.player {
    width: 340px;
    position: relative;
}

.player__card 
{
    border: 1px solid #000;
    width: 100px;
    height: 150px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 10px;
    background: #fff;
    position: absolute;
    z-index: 10;
}

.player__card.player__card--center {
    transform: translateX(-50%);
    left: 50%;
}

.player__card.player__card--left {
    left: -5px;
}

.player__card.player__card--right {
    right: -5px;
}
